header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    margin: 0 auto;
}

.col {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.col:hover {
    transform: scale(1.05);
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar {
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0px;
    padding: 0;
    align-items: center;
}

.nav-item {
    margin-right: 15px;
}

.navbar-brand {
    color: #fff;
    font-weight: bold;
    margin-right: 20px;
    text-decoration: none;
}

.navbar-brand:hover {
    color: #fff;
}

.nav-link {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.nav-link:hover {
    color: #fff;
    text-decoration: underline;
}

.about-section {
    padding-left: 20px;
}

/* Footer Styling */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
}

h2.about a {
    text-decoration: underline;
    color: #fff;
    font-size: 28px;
    font-weight: bold;
}

.about-section {
    text-align: center;
}

.py-5 {
    text-align: center;
}
